<template>
    <div style="overflow-y: hidden;">
    
        <!-- OK -->
        <div v-if="!error">
            <!-- LOADER -->
            <div v-if="loading">
                <v-container fill-height fluid>
                    <v-overlay color="transparent">
                        <v-progress-circular
                            indeterminate
                            size="64"
                            color="primary"
                        ></v-progress-circular>
                    </v-overlay>
                </v-container>
            </div>
            <!-- MEDIA -->
            <div v-else>
               
                <v-img
                    v-if="bannerImage"
                    class="mb-0 d-none d-md-block"
                    :lazy-src="
                        `https://via.placeholder.com/24x5/${bannerColor.slice(
                            1,
                            -1
                        )}/fff?text=%20`
                    "
                    :src="bannerImage"
                    :aspect-ratio="1265 / 266"
                    :gradient="gradient"
                >
                <v-btn
                    class="forPosition"
                    color="default"
                    elevation="2"
                    >
                  <router-link to="/">Back</router-link>
                </v-btn>
                    <template v-slot:placeholder>
                        <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                        >
                            <v-progress-circular
                                indeterminate
                                color="grey lighten-5"
                            ></v-progress-circular>
                        </v-row>
                    </template>
                </v-img>
                <v-container fluid>
                    <v-row class="pa-4">
                        <v-col
                            cols="12"
                            sm="6"
                            md="3"
                            :class="{
                                'cover-image-column-wrapper':
                                    type !== 'characters' && bannerImage,
                            }"
                            class="d-flex justify-center justify-md-start"
                        >
                            <div
                                class="d-flex flex-column fullWidth align-center"
                                :class="{
                                    'cover-image-column': bannerImage,
                                }"
                            >
                                <!-- MEDIA COVER IMAGE -->
                                <v-img
                                    width="250"
                                    max-height="372"
                                    :lazy-src="imageMedium"
                                    :src="imageLarge"
                                    class="elevation-17 rounded-lg"
                                >
                                    <template v-slot:placeholder>
                                        <v-row
                                            class="fill-height ma-0"
                                            align="center"
                                            justify="center"
                                        >
                                            <v-progress-circular
                                                indeterminate
                                                color="grey lighten-5"
                                            ></v-progress-circular>
                                        </v-row>
                                    </template>
                                
                                </v-img>
                                
                                <!-- MEDIA INFO (rating; type; etc..) -->
                                <div class="d-flex flex-column mt-5">
                                    <center>
                                        <media-rating
                                            :score="media.averageScore"
                                        />
                                        <media-info :media="media" />
                                    </center>
                                </div>
                            </div>
                        </v-col>
                        <v-col
                            md="9"
                            class="d-flex justify-center justify-md-start align-center align-md-start flex-column"
                        >         
                       
                                <v-btn icon color="grey " class="px-10 my-2" v-if="!isFavorite" @click="addFavorite(dataMedia)">
                                        <v-icon>mdi-heart</v-icon> Favorite
                                    </v-btn>
                                    <v-btn icon color="pink" class="px-10 my-2" v-else @click="removeFavorite(dataMedia)">
                                        <v-icon>mdi-heart</v-icon> Favorite
                                </v-btn>
                                          
                            <div class="mb-3 text-center">
                                <h3>
                                    {{dataMedia.title.english}}
                                </h3>
                            </div>
                            <p
                                class="subtitle-1 description--text text-center text-md-left"
                                v-html="dataMedia.description"
                            ></p>
                        </v-col>
                        
                    </v-row>
                </v-container>
            </div>
        </div>

        <!-- ERROR -->
        <!-- <error-fullscreen v-if="error" @tryAgain="handleFetch" /> -->
    </div>
</template>

<script>
import MediaRating from "../components/MediaRating.vue";
import MediaInfo from "../components/MediaInfo";
import { getMediaById, getCharacterById } from "../utils/API/Anime";
export default {
    name: "DetailView",
    components: {
        MediaRating,
        MediaInfo
    },
    props: {
        id: {
            type: [String, Number],
            required: true,
        },
    },
    data() {
        return {
            loading: true,
            media: {},
            error: false,
            errorMsg: null,
            tab: null,
            type: this.$route.params.type,
            imageLarge: null,
            imageMedium: null,
            bannerImage: true,
            bannerColor: "fff",
            dataMedia: null,
            textColor: '',
            listFavorite: [],
            isFavorite: false
        };
    },
    computed: {
        gradient() {
            const gradients = this.$store.state.colors.gradient.bannerImage;
            return this.$vuetify.theme.dark ? gradients.dark : gradients.light;
        },
        formatEpisodesWord() {
            return this.dataMedia.episodes === 1 ? "episode" : "episodes";
        },
    },
    methods: {
        addFavorite(props){
            let prod = props;
            if (localStorage.getItem("favorite") == undefined) {
                this.listFavorite.push(prod);
                localStorage.setItem("favorite", JSON.stringify(this.listFavorite));
            } else {
                this.listFavorite = JSON.parse(localStorage.getItem("favorite"));
                let arrayObj = [];
                let newFav = "";

                this.listFavorite.forEach((row) => {
                    arrayObj.push(row.id);
                });

                if (!arrayObj.includes(prod.id)) {
                    newFav = prod;
                } else {
                    newFav = "";
                }

                if (newFav != "") {
                    this.listFavorite.push(newFav);
                }
                localStorage.setItem("favorite", JSON.stringify(this.listFavorite));
            }
            this.isFavorite = true; 
        },
        removeFavorite(props) {
            let prod = props;
            const newFav = [];
            this.listFavorite = JSON.parse(localStorage.getItem("favorite"));
            this.listFavorite.forEach((row, i) => {
                if (row.id == parseInt(prod.id)) {
                    delete this.listFavorite[i];
                }
            });

            this.listFavorite.forEach((obj) => {
                newFav.push(JSON.parse(JSON.stringify(obj)));
            });

            if (newFav.length > 0) {
                localStorage.setItem("favorite", JSON.stringify(newFav));
            } else {
                localStorage.removeItem("favorite");
                this.listFavorite = [];
            }
            this.isFavorite = false;
        },
        handleFetch() {
            this.loading = true;
            this.type = this.$route.params.type;
            this.error = false;
            if (this.type === "characters") {
                getCharacterById(this.id)
                    .then((res) => {
                        if (!res.res.ok) throw Error(res.res.status);
                        this.media = res.data.Character;
                        this.imageLarge = this.media.image.large;
                        this.imageMedium = this.media.image.medium;
                        this.bannerImage = false;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.error = true;
                        this.errorMsg = err.message;
                        this.loading = false;
                    });
            } else {
                getMediaById(this.type, this.id)
                    .then((res) => {
                        if (!res.res.ok) throw Error(res.res.status);
                        this.media = res.data.Media;
                        this.imageLarge = this.media.coverImage.extraLarge;
                        this.imageMedium = this.media.coverImage.medium;
                        this.bannerImage = this.media.bannerImage;
                        this.bannerColor =
                            this.media.coverImage.color || "#fff";
                        this.loading = false;
                        this.error = false;
                        this.dataMedia = res.data.Media;
                    })
                    .catch((err) => {
                        this.error = true;
                        this.errorMsg = err.message;
                        this.loading = false;
                    });
            }
        },
    },

    watch: {
        "$route.params": {
            handler() {
                this.handleFetch();
            },
            immediate: false,
        },
        errorMsg: {
            handler() {
                if (["404", "400"].includes(this.errorMsg)) {
                    this.$router.push({ path: "/404" });
                }
            },
        },
    },
    subtitle() {
        if (this.type === "characters") {
            return this.media.name.native;
        } else {
            return this.media.title.native;
        }
    },
    created() {
        this.handleFetch();
    },
    mounted() {
        // alert()
        if (localStorage.getItem("favorite")) {
            let listFavorite = JSON.parse(localStorage.getItem("favorite"));
            let arrayObj = [];

            listFavorite.forEach((row) => {
                arrayObj.push(row.id);
            });
            
            if (arrayObj.includes(parseInt(this.id))) {
                this.isFavorite = true;
            }
        }
    },
};
</script>

<style lang="scss" scoped>
.cover-image-column {
    position: relative;
    top: calc(-372px / 100 * 50);
}

.cover-image-column-wrapper {
    margin-bottom: calc(-372px / 100 * 50);
}

.fullWidth {
    width: 100%;
}
.forPosition{
    position: absolute;
    z-index: 9;
    left: 4%;
    top: 10%;
    a{
        color:black;
        text-decoration: none;
    }
}

@media screen and (max-width: 960px) {
    .cover-image-column {
        position: inherit;
    }
    .fullWidth {
        width: auto;
    }

    .cover-image-column-wrapper {
        margin-bottom: 0;
    }
}
</style>
