<template>
  <div>
      <v-container class="grey lighten-5">
        <h4 class="mt-5 mb-5">List Favorite</h4>
        <v-row>            
          <v-col
            v-for="(t, i) in animes"
            :key="i"
            cols="3"
          >
            <v-card
              class="mx-auto"
              max-width="400"
              @click="openMedia(t.id)"
            >
              <v-img
                class="white--text align-end"
                height="200px"
                :src="t.coverImage.extraLarge"
              >
              </v-img>

              <v-card-title>
                <span style="font-size:14px">{{t.title.english !== null ? t.title.english : t.title.romaji}}</span>
              </v-card-title>

              <v-card-subtitle class="pb-0">
                {{ t.title.native }}
              </v-card-subtitle>

              <v-card-text class="text--primary">
                <div>{{ t.description.replace(regex, "").substring(0,100) }}</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  text
                >
                  See more
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
  </div>
</template>

<script>
  export default {
    name: 'FavoriteView',  
    props: ["type", "trending"],
    data() {
      return {
        regex: /(<([^>]+)>)/gi,
        animes: [],
      };
    },
    methods: {       
      openMedia(e) {
        this.$router.push('home/anime/'+e);
      },
    },   
    mounted() {
      window.addEventListener("resize", this.refreshMd);
      this.animes = JSON.parse(localStorage.getItem("favorite"));
    },
    beforeDestroy() {
        window.removeEventListener("reize", this.refreshMd);
    },
  }
</script>


<style scoped>
/* Fix blurry images on scale */
img {
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
}

p {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 200px;
}
</style>