<template>
  <div>
      <v-container class="grey lighten-5">    
        <Search></Search>
        <v-divider class="mt-5 mb-5"></v-divider>
        <h4 class="mt-5 mb-5">List Anime</h4>
        <v-row v-if="loading">
          <v-col
            v-for="card in limit"
            :key="card"
            cols="6"
            sm="4"
          >
          <v-skeleton-loader
            type="image"
            height="150"
            elevation="12"
          ></v-skeleton-loader>
          </v-col>
        </v-row> 
        <v-row>            
          <v-col
            v-for="(t, i) in trendingAnime"
            :key="i"
            cols="3"
          >
            <v-card
              class="mx-auto"
              max-width="400"
              @click="openMedia(t.id)"
            >
              <v-img
                class="white--text align-end"
                height="200px"
                :src="t.coverImage.large"
              >
              </v-img>

              <v-card-title>
                <span style="font-size:14px">{{t.title.english !== null ? t.title.english : t.title.romaji}}</span>
              </v-card-title>

              <v-card-subtitle class="pb-0">
                {{ t.title.native }}
              </v-card-subtitle>

              <v-card-text class="text--primary">
                <div>{{ t.description.replace(regex, "").substring(0,100) }}</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  text
                >
                  See more
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>

          <!-- <v-col cols="12"> -->
            <infinite-loading @infinite="loadMore"></infinite-loading>
          <!-- </v-col> -->
        </v-row>
      </v-container>
  </div>
</template>

<script>
  import Search from "@/components/Search";
  import { getMediaPage, getCharactersPage } from "../utils/API/Anime";
  import InfiniteLoading from 'vue-infinite-loading';

  export default {
      name: 'Home-View',  
      components: {
        Search,
        InfiniteLoading,
      },
      props: ["type", "trending"],
      data() {
        return {
          regex: /(<([^>]+)>)/gi,
          limit: 10,
          loading: true,
          error: false,
          errorMsg: null,
          media: {},
          page: +this.$route.query.page,
          totalPages: null,
          sort: this.$route.query.sort,
          mediaType: null,
          search: null,
          genre: null,
          isTypeOk: true,
          md: window.innerWidth >= 960,
          trendingAnime: [],
        };
      },
      methods: {
        validateType() {
          const possibleTypes = ["anime", "manga", "characters"];
          const requestedType = this.$route.params.type;
          this.isTypeOk = possibleTypes.includes(requestedType);
          return this.isTypeOk;
        },
        // Adds ?query to url
        addQuery(queryName, queryValue) {
          this.$router.push({
            query: Object.assign({}, this.$route.query, {
              [queryName]: queryValue,
            }),
          });
        },
        changePage() {
          this.addQuery("page", this.page);
          this.handleFetch();
        },
        // Invoke callback promise, then append response to data

        async handleResponse(callback, options) {
          const prevPage = this.$route.params.type;
          const res = await callback(options.vars);
          this.totalPages = Math.ceil(res.data.Page.pageInfo.total / 50);
          this.error = false;
          if (options.isCharacters) {
            this.trendingAnime = res.data.Page.characters;
          } else {
            this.trendingAnime = res.data.Page.media;
          }
          const currentPage = this.$route.params.type;

          // Check if user still in the same page
          // Useful when user switched page before promise was resolved
          if (currentPage === prevPage) {
            this.loading = false;
          }
        },
        setupQueries() {
          this.search = this.$route.query.search;
          this.mediaType = this.$route.params.type;
          this.genre = this.$route.query.genre;

          if (!this.$route.query.page) {
              this.addQuery("page", 1);
              this.page = 1;
          }

          if (this.mediaType !== "characters") {
              if (!this.$route.query.sort) {
                  let sort = "SCORE_DESC";
                  this.addQuery("sort", sort);
                  this.sort = sort;
              } else {
                  this.sort = this.$route.query.sort;
              }
          }
        },           
        openMedia(e) {
          this.$router.push('anime/'+e);
        },
        handleFetch() {
          this.loading = true;
          let vars = { perPage: 20, pageNumber: this.page, };
          let options = {};
          // Check if query is empty, if yes then set to first page

          //
          if (this.search) {
              vars.title = this.search;
          }

          if (this.mediaType === "characters") {
            vars.sortBy = "FAVOURITES_DESC";

            options = {
                isCharacters: true,
                vars,
            };
            this.handleResponse(getCharactersPage, options);
          } else {
            vars.type = 'ANIME';
            vars.sortBy = this.sort;

            if (this.genre) {
                vars.genre = this.genre;
            }
            options = {
                isCharacters: false,
                vars,
            };
            
            this.handleResponse(getMediaPage, options);
          }
        },
        refreshMd() {
          this.md = window.innerWidth >= 960;
        },
        async loadMore($state) {
          if (this.trendingAnime.length) {
            this.page += 1;
           
            let vars = { perPage: 10, pageNumber: this.page, };
            let options = {};
            // Check if query is empty, if yes then set to first page

            //
            if (this.search) {
                vars.title = this.search;
            }

            vars.type = 'ANIME';
            vars.sortBy = this.sort;

            if (this.genre) {
              vars.genre = this.genre;
            }
            
            options = {
              isCharacters: false,
              vars,
            };

            const res = await getMediaPage(options.vars);

            if(res.data.Page.media.length > 0){
              this.trendingAnime.push(...res.data.Page.media)
              $state.loaded()
            } else {              
              $state.complete();
            }

          } else {
            console.log('gagal')
          }
        },
      },   
      mounted() {
        window.addEventListener("resize", this.refreshMd);
      },
      beforeDestroy() {
          window.removeEventListener("reize", this.refreshMd);
      },
      // Watch for url query changes. For example, useful when user switches from anime tab to manga tab
      watch: {
      "$route.query": {
        handler() {
          if (this.validateType()) {
            this.setupQueries();
            this.handleFetch();
          } else {
            this.$router.replace({ path: "/404" });
          }
        },
        immediate: true,
      },
  },
}
</script>


<style scoped>
/* Fix blurry images on scale */
img {
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
}

p {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 200px;
}
</style>