<template>
  <v-row class="mb-5">
    <v-col v-for="(d, i) in animes" :key="i" cols="3">
      <v-card
        class="mx-auto"
        max-width="400"
        @click="openMedia(d.id)"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          :src="d.coverImage.large"
        >
          <v-card-title>
            {{d.title.english !== null ? d.title.english : d.title.romaji}}
          </v-card-title>
        </v-img>

        <v-card-subtitle class="pb-0">
          {{ d.title.native }}
        </v-card-subtitle>

        <v-card-text class="text--primary">
          <div>{{ d.description.replace(regex, "").substring(0,100) }}</div>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="orange"
            text
          >
            See more
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "CardComponent",
  props: {
    animes: Array,
  },
  data() {
    return {
      regex: /(<([^>]+)>)/gi,
    };
  },
  methods: {
    openMedia(e) {
      this.$router.push('anime/'+e);
      console.log(this.$router)
    },
  }
};
</script>
