<template>
  <div>
    <v-progress-linear class="mb-5" value="15" v-if="loading"></v-progress-linear>
    <v-row>
      <v-col>
        <v-text-field
          flat
          color="secondary--text"
          :class="{ 'elevation-4': md }"
          hide-details
          prepend-inner-icon="mdi-magnify"
          maxlength="20"
          ref="textField"
          clearable
          v-model="search"
          solo
          autocomplete="off"
          label="Search..."
          @change="applyFilter"
        >
        </v-text-field>
      </v-col>
      <v-col cols="6" md="4">
        <v-select
          hide-details
          flat
          :class="{ 'elevation-4': md }"
          prepend-inner-icon="mdi-drama-masks"
          solo
          :items="genres"
          label="Genres"
          v-model="selectedGenre"
          @change="applyFilter"
        >
        </v-select>
      </v-col>
      <v-col>      
        <v-btn
          id="searchBtn"
          @click="applyFilter"
          :disabled="loading"
          large
          type="button"
        >
          Search
        </v-btn>
      </v-col>
    </v-row>
    <!-- <Card :animes="anime"></Card> -->
  </div>
</template>

<script>
// import Card from "@/components/Card";
// import GetData from "../services/GetData";

export default {
  name: "SearchComponent",
  // components: {
  //   Card,
  //   // Loader
  // },
  data() {
    return {
      query: "",
      md: window.innerWidth >= 960,
      selectedGenre: undefined,
      genres: [
        "Any",
        "Action",
        "Adventure",
        "Comedy",
        "Drama",
        "Ecchi",
        "Fantasy",
        "Horror",
        "Mahou Shoujo",
        "Mecha",
        "Music",
        "Mystery",
        "Psychological",
        "Romance",
        "Sci-Fi",
        "Slice of Life",
        "Sports",
        "Supernatural",
        "Thriller",
      ],
      sortQueries: {
        Trending: "TRENDING_DESC",
        Score: "SCORE_DESC",
        Favourites: "FAVOURITES_DESC",
        Popularity: "POPULARITY_DESC",
      },
      search: "",
      anime: [],
      loading: false,
      animeCount: 0,
    };
  },
  methods: {
    handleErrors: function(err) {
      console.log(err.message);
    },
    applyFilter() {
      let filters = {};

      filters = {
          genre: this.selectedGenre === "Any" ? "" : this.selectedGenre,
          sort: this.sortQueries[this.selectedSort],
          search: this.search,
      };
      
      // HIDE SCREEN KEYBOARD AFTER FILTER APPLIED
      const input = this.$refs.textField.$el.children[0].children[0]
          .children[0].children[0];
      input.blur();

      
      this.$router
          .replace({
              query: Object.assign({}, this.$route.query, filters),
          })
          .catch((e) => e);
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
button {
  font-family: Raleway, Helvetica;
}
</style>
