<template>
  <v-snackbar
    v-model="snackbar.status"
    :timeout="2000"
    :color="snackbar.type"
  >
    {{ snackbar.title }}
    <template #action="{ attrs }">
      <v-btn
        color="white"
        icon
        v-bind="attrs"
        @click="snackbar.status = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: 'SnackbarDefaultComponent',
  data() {
    return {
      snackbar: {
        status: false,
        type: 'info',
        title: null,
      }
    }
  },
  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'utilities/INIT_DATA_SNACKBAR') {
        const { type, title, status } = state.utilities.snackbar;

        this.snackbar = {
          status,
          type,
          title,
        };
      }
    });
  },
}
</script>
